.board {
	border-radius: 10px;
	position: relative;
	width: 1200px;
	margin: 60px auto 50px auto;
	padding: 10px 150px 100px 150px;
	background: #233747;
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
}
